{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
<span class="login100-form-title">
	<img src="{% static 'icon/title_img.png' %}" alt="">
</span>			
                    <form class="p-r-30 p-l-30" method="POST" action="{% url 'accounts:login' %}">
                        {% csrf_token %}
					    <div class="wrap-input100 validate-input" data-validate = "Username is reauired">
						    <span class="label-input100">Username</span>
						    <input class="input100" type="text" placeholder="Type your username" id="{{ form.username.id_for_label }}" maxlength="15" name="{{ form.username.html_name}}" required>
						    <span class="focus-input100" data-symbol="&#xf206;"></span>
					    </div>

                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <span class="label-input100">Password</span>
                            <input class="input100" type="password" placeholder="Type your password" id="{{ form.password.id_for_label }}" maxlength="15" name="{{ form.password.html_name }}" required>
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                        </div>					
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <input class="login100-form-btn" type="submit" value="Login">
                            </div>
                        </div>
                    </form>
                    <div class="text-right p-t-10 p-b-15 p-r-30 p-l-30">
                        <a href="#">
                            Forgot password?
                        </a>
                    </div>
					<div class="txt1 text-center p-t-20 p-b-10">
						<span>
							Or Sign Up Using
						</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1" >
							<i class="fab fa-facebook-f"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fab fa-twitter" id="icon"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
            				<i class="fab fa-google" id="icon"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-10">
						<a href="{% url 'accounts:signup' %}" class="txt2">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
{% endblock %}
