{% extends "accounts/base.html" %}

{% block content %}
<body>
    <div class="signup p-r-30 p-l-30">
        <div class="signup_title">
            <span>Create account</span>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
    
                {{form.as_p}}
            <div class="container-login100-form-btn m-t-30 p-r-30 p-l-30">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <input class="login100-form-btn" type="submit" value="signup">
            </div>
        </form>
    </div>
</body>
{% endblock %}
