{% extends 'post/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'base.css'%}">
<div class="profile_container">
    <div class="profile_text">
        <div>
            닉네임 : {{ user_profile.nickname }}
        </div>
        <div>
            피부톤 : {{ user_profile.skinton }}
        </div>
        <div>
            성별 : {{ user_profile.gender }}
        </div>
        <div class="fo_btn">
            {% if request.user == user_profile.user %}
             <a href="{% url 'accounts:profile_edit' user_profile.id %}"><input type="submit" class="settings" value="내정보 수정" data-name="settings" name="{{ post.author.profile.id}}"></a>
            {% else %}
                {% if request.user.profile in user_profile.get_follower %}
                <input type="submit" class="follow" value="Following" data-name="follow" name="{{ user_profile.pk}}">
                {% else %}
                <input type="submit" class="follow" value="Follow" data-name="follow" name="{{ user_profile.pk}}">
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if user_profile.picture %}
        <div class="profile_img"><img src="{{ user_profile.picture.url }}" class="img-responsive thumbnail"></div>
    {% else %}
    <div class="profile_img"><img src="{% static 'img/noprofile.png' %}" class="img-responsive thumbnail"></div>
    {% endif %}
</div>
<div class="extra_txt">
    {{ user_profile.about }}
</div>
<div class="social_status">
    <div class="s_status follower">
        FLLOWERS<br>{{user_profile.follower_count}} 
    </div>
    <div class="s_status following">
        FOLLOWING<br>{{user_profile.following_count}}
    </div>
    <div class="s_status reference">
        REFERENCE<br>0
    </div>
</div>
<div class="tagbox">
    <div class="tag my" onclick="changeCategory(this)" onmouseout="changeCategory2(this)">
       MY   
    </div>
    <div class="tag like" onclick="changeCategory(this)" onmouseout="changeCategory2(this)">
        LIKE
    </div>
    <div class="tag ref" onclick="changeCategory(this)" onmouseout="changeCategory2(this)">
        REFERENCE
    </div>
</div>

<div class="imgGrid">
    {% for post_in in post_list %}
    {% if user_profile.user == post_in.author %}

    <a href="{% url 'post:post_detail' post_in.pk %}"><img src="{{ post_in.photo.url }}"></a>
    {% endif %}
    {% endfor %}

</div>
<script>
    function changeCategory(obj){
        obj.style.border = 'solid 1px rgba(133, 128, 128, 0.8)';
        obj.style.borderBottom = 'none';
    }
    function changeCategory2(obj){
        obj.style.border = 'none'; 
    }
</script>

{% include "post/profile_ajax.html" %}
{% endblock %}
