{% extends 'post/base.html' %}
{% load static %}
{% block content %}
<form class="searchWindow" action="search_1" method="get">
    <input type="text" name="tag" class="searchInput" placeholder="컨셉TAG, 화장
품 검색" value="{{tag}}" />
    <button class="searchLabel" type="submit"><i class="fas fa-search"></i></button>
</form>

<div class="slide-display">
    <div class="slidePage">
        <div class="imgslide">
            {% for tema in dint_tema %}
            <div class="title">
                <form action="search_1" method="get">
                    <button class="tagBtn" type="submit">
                        {{tema}}
                    </button>
                    <input type="text" name="tag" value="{{tema}}"/>
                </form>
            </div>
            <div class="carousel-container">
                <div class="carousel-slide">
                    {% for post in posts %}
                    {% if tema == post.tema %}
                    <a href="{% url 'post:post_detail' post.pk %}"><img src="{{ post.photo.url }}" alt=""></a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
