{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/search.css'%}">
    <link rel="stylesheet" href="{% static 'css/layout.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <body>
   
        <div class="main-container">
       
        <div class="nav-top">
        
         <ul>
         
          <li class="nav-start"><a><i class="fas fa-camera" style="color:black;"></i></a></li>
          
          <li class="nav-img"><a><img src="{% static 'images/icon/title_img.png'"/></a></li>
          
          <li class="nav-end"><a><i class="fas fa-location-arrow" style="color:black;"></i></a></li>
         
         </ul>
         
        </div>
        {% block content %}
        <div id="Home" class="container actives">
            
           <p>Home</p>	  
            
        </div>
        
        <div id="Search" class="container">
         
             <p>Search</p>
             
         </div>
        
        <div id="Upload" class="container">
              
               <p>Upload</p>	
               
        </div>
        
        <div id="Users" class="container">
            
             <p>Users</p>	
             
        </div>
        
        <div id="Profile" class="container">
            
             <p>Profile</p>	
        </div>
        
        {% endblock %}
        <div class="nav-bottom">
        
          <ul>
            <li><a class="tab active"  href="./index.html"><i class="fas fa-home"></i></a></li>
            
           <li><a class="tab"  href="./search/search.html"><i class="fas fa-search"></i></a></li>
           
           <li> <a class="tab" href="./input_img_page/input_page.html" > <i class="fas fa-plus"></i></a></li>
           
           <li><a class="tab" href="Users"><i class="fas fa-heart"></i></a></li>
           
           <li><a class="tab" href="./profile/mypage_1.html"><i class="fas fa-user"></i></a></li>
         
          
          </ul>
        
        </div>
        
       
       </div>
</body>
</html>