{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- beautyapp_merged > post > templates > post > personalColor_output.html -->
    personalColor_output
    <link rel="stylesheet" href="{% static 'css/imgprocess.css' %}"/>

    <div class="user-image-container">
        <div class="user-image">
            <img id="showImg" src="{% static 'img/result_makeup.jpg' %}" class="thumnail">
        </div>
    </div>

    {% comment %} 결과물 출력하기 + CSS 입히기 {% endcomment %}
    <ol>
        <li>왜 </li><br>
        <li>ul & li </li><br>
        <li>태그가 </li><br>
        <li>안되느냐 </li><br>
        <li>이상하다 </li><br>
        <li>ㅇ으으으으 </li><br>
        <li>아악 </li><br>
    </ol>

{% endblock %}