{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="banner home">
        <!--<img src="{% static 'img/simm.jpg' %}" alt="">-->
    </div>
    <div class="todayKeyWord">
    </div>
    <div class="wordcloud">
    </div>
    <div class="faceAnalysis">
        <div class="tone">
          <p class="FA_title">
            퍼스널 컬러 진단
          </p>
          <img src="{% static 'img/facetone.png' %}" alt="">
        </div>
        <div class="simillar">
          <p class="FA_title">
            얼굴 비율 완벽 분석
          </p>
            <img src="{% static 'img/faceanalysis.png' %}" alt=""> 
        </div>
    </div>
    <div class="banner Event">
    </div>
    <div class="banner AD">
    </div>
{% endblock %}