{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="banner home">
        <!--<img src="{% static 'img/simm.jpg' %}" alt="">-->
    </div>
    <div class="todayKeyWord">
    </div>
    <div class="wordcloud">
    </div>
    <div class="faceAnalysis">
        <div class="tone">
          <p class="FA_title">
            퍼스널 컬러 진단
          </p>
          <a href="{% url 'tonemeup' %}"><img src="{% static 'img/facetone.png' %}" alt=""></a>
        </div>
        <div class="simillar">
          <p class="FA_title">
            얼굴 비율 완벽 분석
          </p>
            <a href="{% url 'faceRatio' %}"><img src="{% static 'img/faceanalysis.png' %}" alt=""></a> 
        </div>
    </div>
    <div class="banner Event">
    </div>
    <div class="banner AD">
    </div>
{% endblock %}