{% load static %}

<!DOCTYPE html>
<html>
<head>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/myinfo.css' %}"/>

</head>

<link href=# rel="stylesheet" media="screen">
<div class="container">
    <div class="row user-menu-container square">
        <div class="col-md-7 user-details">
            <div class="row coralbg white">
                <div class="col-md-6 no-pad">

                    <div class="user-pad">
                        <h3>Nicole Pearson</h3>
                        <p><strong>About: </strong> Web Designer / UI. </p>
                        <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                        <p><strong>Skills: </strong> html5, css3, jquery, bootstrap3
                        </p>
                        <button type="button" class="btn btn-labeled btn-info" href="#">
                            <span class="btn-label"><i class="fa fa-pencil"></i></span>following</button>
                        <button type="button" class="btn btn-labeled btn-info" href="#">
                            <span class="btn-label"><i class="fa fa-pencil"></i></span>message</button>
                    </div>
                </div>

<!-- User profile img -->
                <div class="col-md-6 no-pad">
                    <div class="user-image">
                        <img src="./4.jpg" class="img-responsive thumbnail">
                    </div>
                </div>
            </div>

<!-- Followers           -->
            <div class="row_overview">
                <div class="col-md-4 user-pad text-center">
                    <h3 class="ffa">FOLLOWERS</h3>
                    <h4>2,784</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3 class="ffa">FOLLOWING</h3>
                    <h4>456</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3 class="ffa">APPRECIATIONS</h3>
                    <h4>4,901</h4>
                </div>
            </div>
            <div class="row overview">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                  <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                </ul>

                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                    <div class="img_container">
                        <script src="ins-imgs.php"></script>
                    </div>
                  </div>
                  <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Some content in menu 1.</p>
                  </div>
                  <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                  </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="row user-menu-container square"></div>