{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile_container">
    <div class="profile_text">
        <div>
            username
        </div>
        <div>
            content 1 
        </div>
        <div>
            content 2
            팔로우 버튼을 추가하도록 합시다
        </div>
    </div>
    <div class="profile_img"><img src="{% static 'img/profile.jpg' %}" class="img-responsive thumbnail"></div>
</div>
<div class="social_status">
    <div class="s_status follower">
        FLLOWERS<br>2000
    </div>
    <div class="s_status following">
        FOLLOWING<br>2000
    </div>
    <div class="s_status reference">
        REFERENCE<br>2000
    </div>
</div>
<h1>아래에 들어갈 사진첩 격자도 추가하도록 합시다</h1>
{% endblock %}