{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile_container">
    <div class="profile_text">
        <div>
            username : 루다
        </div>
        <div>
            content 1 : simple profile 
        </div>
        <div>
            content 2
        </div>
        <div>
            <button class="followBtn">
                follow
            </button>
        </div>
    </div>
    <div class="profile_img"><img src="{% static 'img/profile.jpg' %}" class="img-responsive thumbnail"></div>
</div>
<div class="extra_txt">
    추가적인 프로필 정보 삽입
</div>
<div class="social_status">
    <div class="s_status follower">
        FLLOWERS<br>2000
    </div>
    <div class="s_status following">
        FOLLOWING<br>2000
    </div>
    <div class="s_status reference">
        REFERENCE<br>2000
    </div>
</div>
<div class="tagbox">
    <div class="tag my" onclick="changeCategory(this)" onmouseout="changeCategory2(this)">
       MY   
    </div>
    <div class="tag like" onclick="changeCategory(this)" onmouseout="changeCategory2(this)">
        LIKE
    </div>
    <div class="tag ref" onclick="changeCategory(this)" onmouseout="changeCategory2(this)">
        REFERENCE
    </div>
</div>
<div class="imgGrid">
    <img src="{% static 'img/1.png' %}">
    <img src="{% static 'img/2.png' %}">
    <img src="{% static 'img/3.png' %}">
    <img src="{% static 'img/4.png' %}">
</div>
<script>
    function changeCategory(obj){
        obj.style.border = 'solid 1px rgba(133, 128, 128, 0.8)';
        obj.style.borderBottom = 'none';
    }
    function changeCategory2(obj){
        obj.style.border = 'none'; 
    }
</script>
{% endblock %}