{% extends 'base.html' %}
{% load static %}

{% block content %}
<form class="searchWindow">
    <label class="searchLabel"><i class="fas fa-search" id="searchBtn"></i></label>            
    <input type="text" class="searchInput" placeholder="#태그, 화장품, 컨셉 검색"/>
</form>
<div class="slide-display">
    <div class="slidePage">
        <div class="imgslide">
            <div class="title">
                <p onclick="imageClick(this)">#1</p>
            </div>
            <div class="carousel-container 1">
                <div class="carousel-slide 1">
                    <img src="{% static 'img/1.png' %}" alt="">
                    <img src="{% static 'img/2.png' %}" alt="">
                    <img src="{% static 'img/3.png' %}" alt="">
                    <img src="{% static 'img/4.png' %}" alt="">
                    <img src="{% static 'img/5.png' %}" alt="" onclick="imageClick(this)">
                </div>
            </div>
            <div class="title">
                <p>#2</p>
            </div>
            <div class="carousel-container 2">
                <div class="carousel-slide 2">
                    <img src="{% static 'img/1.png' %}" alt="">
                    <img src="{% static 'img/2.png' %}" alt="">
                    <img src="{% static 'img/3.png' %}" alt="">
                    <img src="{% static 'img/4.png' %}" alt="">
                    <img src="{% static 'img/5.png' %}" alt="" onclick="imageClick(this)">
                </div>
            </div>
            <div class="title">
                <p>#3</p>
            </div>
            <div class="carousel-container 3">
                <div class="carousel-slide 3">
                    <img src="{% static 'img/1.png' %}" alt="">
                    <img src="{% static 'img/2.png' %}" alt="">
                    <img src="{% static 'img/3.png' %}" alt="">
                    <img src="{% static 'img/4.png' %}" alt="">
                    <img src="{% static 'img/5.png' %}" alt="" onclick="imageClick(this)">
                </div>
            </div>
            <div class="title">
                <p>#4</p>
            </div>
            <div class="carousel-container 4">
                <div class="carousel-slide 4">
                    <img src="{% static 'img/1.png' %}" alt="">
                    <img src="{% static 'img/2.png' %}" alt="">
                    <img src="{% static 'img/3.png' %}" alt="">
                    <img src="{% static 'img/4.png' %}" alt="">
                    <img src="{% static 'img/5.png' %}" alt="" onclick="imageClick(this)">
                </div>
            </div>
        </div>
    </div>            
</div>

{% endblock %}